body {
  background: #f1f4f5;
  font: normal 14px Arial;
}

/* шапка */
.header {
  height: 175px;
  background: #0070a3; /* Old browsers */
  background: -moz-linear-gradient(top, #0070a3 0%, #008cb9 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0070a3), color-stop(100%, #008cb9)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #0070a3 0%, #008cb9 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #0070a3 0%, #008cb9 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #0070a3 0%, #008cb9 100%); /* IE10+ */
  background: linear-gradient(top, #0070a3 0%, #008cb9 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#0070a3', endColorstr = '#008cb9', GradientType = 0); /* IE6-9 */
}

.headert {
  width: 100%;
  height: 155px;
}

.headert td {
  vertical-align: middle;
}

.headert td.logotd {
  text-align: center;
  padding: 0 20px;
}

/* верхнее меню */
.headert td.menutd {
  width: 100%;
}

.header-menu {
  margin-left: 30px;
}

.header-menu li {
  float: left;
  margin-right: 10px;
}

.header-menu li a:link, .header-menu li a:visited {
  display: block;
  padding: 12px 15px 12px 50px;
  color: #fff;
  font: normal 18px Arial;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: 5px 2px;
}

.header-menu li.item1 a:link, .header-menu li.item1 a:visited {
  background-image: url('../img/header-menu-icon1.png');
}

.header-menu li.item2 a:link, .header-menu li.item2 a:visited {
  background-image: url('../img/header-menu-icon2.png');
}

.header-menu li.item3 a:link, .header-menu li.item3 a:visited {
  background-image: url('../img/header-menu-icon3.png');
}

.header-menu li a:hover, .header-menu li a:active {
  background-color: #088fc0;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
}

.header-menu li.active a:link, .header-menu li.active a:visited {
  background-color: #088fc0;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  background-position: 5px -47px;
}

/* /верхнее меню */
/* контактные данные */
.headert td.addresstd {
  color: #fff;
  font: bold 15px Arial;
  white-space: nowrap;
}

.headert td.addresstd a:link, .headert td.addresstd a:visited {
  color: #fff;
  font-weight: normal;
  text-decoration: none;
}

.headert td.addresstd a:hover, .headert td.addresstd a:active {
  text-decoration: underline;
}

.header .tels {
  margin-top: 10px;
}

.header .tels li {
  margin-bottom: 4px;
}

.header .tels img {
  position: relative;
  top: 2px;
}

/* /контактные данные */
/* /шапка */
.container {
  width: 1080px;
  margin: 0 auto;
}

.main-cont {
  position: relative;
  top: -20px;
  width: 1080px;
  margin: 0 auto;
  border: solid 2px #fff;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-shadow: 0 1px 2px #c2d8df;
  -moz-box-shadow: 0 1px 2px #c2d8df;
  box-shadow: 0 1px 2px #c2d8df;
}

/* личный кабинет */
.cabinet-cont {
  background: #dbe6ea; /* Old browsers */
  background: -moz-linear-gradient(top, #dbe6ea 0%, #ffffff 60px, #e6eef1 120px, #e6eef1 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dbe6ea), color-stop(60px, #ffffff), color-stop(120px, #e6eef1), color-stop(100%, #e6eef1)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #dbe6ea 0%, #ffffff 60px, #e6eef1 120px, #e6eef1 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #dbe6ea 0%, #ffffff 60px, #e6eef1 120px, #e6eef1 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #dbe6ea 0%, #ffffff 60px, #e6eef1 120px, #e6eef1 100%); /* IE10+ */
  background: linear-gradient(top, #dbe6ea 0%, #ffffff 60px, #e6eef1 120px, #e6eef1 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#dbe6ea', endColorstr = '#e6eef1', GradientType = 0); /* IE6-9 */
}

.cabinet-cont .cabinet-header {
  height: 60px;
  border-bottom: solid 2px #c3d6dc;
  text-align: right;
}

/* меню в личном кабинете */
.cabinet-cont .cabinet-menu-cont {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 243px;
  padding: 10px 0;
  border: solid 2px #fff;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background: #e6eef1;
}

.cabinet-menu-cont .cabinet-menu {
  margin: 10px 2px;
}

.cabinet-menu-cont .cabinet-menu li {
  margin: 2px 0;
}

.cabinet-menu-cont .cabinet-menu li a:link, .cabinet-menu-cont .cabinet-menu li a:visited {
  display: block;
  padding: 10px 15px;
  color: #333;
  font: bold 15px Arial;
  text-decoration: none;
  background: #fff;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

.cabinet-menu-cont .cabinet-menu li a:hover, .cabinet-menu-cont .cabinet-menu li a:active {
  color: #fff;
  background: #008ebb; /* Old browsers */
  background: -moz-linear-gradient(top, #008ebb 0%, #149dc9 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #008ebb), color-stop(100%, #149dc9)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #008ebb 0%, #149dc9 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #008ebb 0%, #149dc9 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #008ebb 0%, #149dc9 100%); /* IE10+ */
  background: linear-gradient(top, #008ebb 0%, #149dc9 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#008ebb', endColorstr = '#149dc9', GradientType = 0); /* IE6-9 */
}

.cabinet-menu-cont .cabinet-menu li.active a {
  color: #fff;
  background: #799c00; /* Old browsers */
  background: -moz-linear-gradient(top, #799c00 0%, #85a517 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #799c00), color-stop(100%, #85a517)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #799c00 0%, #85a517 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #799c00 0%, #85a517 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #799c00 0%, #85a517 100%); /* IE10+ */
  background: linear-gradient(top, #799c00 0%, #85a517 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#799c00', endColorstr = '#85a517', GradientType = 0); /* IE6-9 */
}

.cabinet-menu-cont .cabinet-menu-order-cont {
  padding: 1px 0;
  background: #b6d4de;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

.cabinet-menu-cont .cabinet-menu-order-cont .title {
  margin: 7px 17px;
  color: #136986;
  font: normal 18px Arial;
}

.cabinet-menu-cont .cabinet-menu-order {
  margin: 0 1px !important;
}

/* /меню в личном кабинете */
.cabinet-cont .cabinet-content-cont {
  margin-left: 285px;
  min-height: 330px;
}

.cabinet-content-cont .cabinet-title {
  color: #333;
  font: normal 38px Arial;
  margin: 20px 0 5px 30px;
}

.cabinet-content-cont .cabinet-content {
  margin-bottom: 30px;
  background: #fff;
  border: solid 2px #cfdce0;
  -webkit-border-radius: 0 20px 20px 20px;
  -moz-border-radius: 0 20px 20px 20px;
  border-radius: 0 20px 20px 20px;
}

.cabinet-content-cont .cabinet-content h2 {
  color: #002e3d;
  font: normal 18px Arial;
  margin: 20px 0;
}

.cabinet-content-cont .cabinet-content-inner-cont {
  margin: 30px 220px 30px 30px;
}

.cabinet-content-cont .cabinet-content p {
  margin-top: 10px;
}

.cabinet-content-cont .cabinet-content hr {
  border: solid 1px #c3d6dc;
  margin-top: 25px;
}

.green-hint {
  float: right;
  width: 160px;
  padding: 20px;
  margin: 2px;
  color: #fff;
  font: bold 14px Arial;
  background: #8baf28;
  -webkit-border-radius: 0 20px 20px 20px;
  -moz-border-radius: 0 20px 20px 20px;
  border-radius: 0 20px 20px 20px;
}

/* формы */
.cabinet-content-cont table.formt {
  width: 100%;
}

.cabinet-content-cont table.formt td.labeltd {
  text-align: right;
  color: #136986;
  font: normal 14px Arial;
  padding-bottom: 8px;
}

.cabinet-content-cont table.formt td.newinputtd {
  padding-top: 15px;
}

.cabinet-content-cont table.formt td.textareatd {
  padding-top: 15px;
  color: #136986;
  font: normal 14px Arial;
}

.cabinet-content-cont table.formt td.submittd {
  padding: 30px 0 20px;
  text-align: center;
}

.cabinet-content-cont table.formt input {
  border: solid 2px #b6d4de;
  margin-left: 5px;
}

.cabinet-content-cont table.formt textarea {
  border: solid 2px #b6d4de;
  resize: none;
}

.cabinet-content-cont table.formt a.submit:link, .cabinet-content-cont table.formt a.submit:visited {
  padding: 8px 15px;
  color: #fff;
  font: normal 18px Arial;
  text-decoration: none;
  border: solid 1px transparent;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background: #9aba39; /* Old browsers */
  background: -moz-linear-gradient(top, #9aba39 0%, #b2d350 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9aba39), color-stop(100%, #b2d350)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #9aba39 0%, #b2d350 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #9aba39 0%, #b2d350 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #9aba39 0%, #b2d350 100%); /* IE10+ */
  background: linear-gradient(top, #9aba39 0%, #b2d350 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#9aba39', endColorstr = '#b2d350', GradientType = 0); /* IE6-9 */
}

.cabinet-content-cont table.formt a.submit:hover, .cabinet-content-cont table.formt a.submit:active {
  background: #b3d54b; /* Old browsers */
}

/* отправить сообщение */
.cabinet-content-cont .message-page table.formt input#fio,
.cabinet-content-cont .message-page table.formt input#tel,
.cabinet-content-cont .message-page table.formt input#email {
  width: 320px;
}

.cabinet-content-cont .message-page table.formt textarea#message-text {
  width: 486px;
}

/* /отправить сообщение */
/* изменить профиль */
.cabinet-content-cont .profile-page table.formt input#name,
.cabinet-content-cont .profile-page table.formt input#fam,
.cabinet-content-cont .profile-page table.formt input#tel,
.cabinet-content-cont .profile-page table.formt input#email {
  width: 320px;
}

.cabinet-content-cont .profile-page table.formt input#oldpass,
.cabinet-content-cont .profile-page table.formt input#newpass,
.cabinet-content-cont .profile-page table.formt input#reppass {
  width: 200px;
}

/* /изменить профиль */
/* /формы */
/* мои заказы */
.cabinet-content-cont .zakazy-page {
}

.zakazy-page table.zakazyt {
  width: 100%;
  border-bottom: solid 1px #cfdce0;
}

.zakazy-page table.zakazyt th {
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 0%, #edf3f5 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #edf3f5)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffffff 0%, #edf3f5 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ffffff 0%, #edf3f5 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ffffff 0%, #edf3f5 100%); /* IE10+ */
  background: linear-gradient(top, #ffffff 0%, #edf3f5 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffffff', endColorstr = '#edf3f5', GradientType = 0); /* IE6-9 */
}

.zakazy-page table.zakazyt th {
  padding: 10px 2px;
  color: #40545b;
  font: bold 15px Arial;
  text-align: center;
}

.zakazy-page table.zakazyt th:last-child {
  -webkit-border-top-right-radius: 20px;
  -moz-border-radius-topright: 20px;
  border-top-right-radius: 20px;
}

.zakazy-page table.zakazyt th a:link, .zakazy-page table.zakazyt th a:visited {
  color: #40545b;
  font: bold 15px Arial;
  text-decoration: none;
  padding: 2px 25px 2px 0;
  margin: 0 5px;
  background: url('../img/sort-icon.png') no-repeat;
  background-position: 100% 1px;
}

.zakazy-page table.zakazyt th a:hover, .zakazy-page table.zakazyt th a:active {
  background-position: 100% -29px;
}

.zakazy-page table.zakazyt th.active a:link, .zakazy-page table.zakazyt th.active a:visited {
  background-position: 100% -29px !important;
}

.zakazy-page table.zakazyt tbody tr:hover {
  background: #e9f8fd;
}

.zakazy-page table.zakazyt td {
  padding: 15px 8px;
  border-top: solid 1px #cfdce0;
  border-right: solid 1px #cfdce0;
  vertical-align: middle;
}

.zakazy-page table.zakazyt td:last-child {
  border-right: none;
}

.zakazy-page table.zakazyt td.paytd,
.zakazy-page table.zakazyt td.deletetd {
  text-align: center;
}

.zakazy-page table.zakazyt td.nametd {
  width: 100%;
}

.zakazy-page table.zakazyt td.nametd a:link, .zakazy-page table.zakazyt td.nametd a:visited {
  color: #084c65;
  text-decoration: underline;
  font: normal 16px Arial;
}

.zakazy-page table.zakazyt td.nametd a:hover, .zakazy-page table.zakazyt td.nametd a:active {
  color: #0079b2;
}

.zakazy-page table.zakazyt td.statustd {
  color: #fff;
  font: bold 15px Arial;
  padding: 0 2px !important;
}

.zakazy-page table.zakazyt td.statustd div {
  padding: 5px 8px;
  text-align: center;
}

.zakazy-page table.zakazyt td.statustd .accepted {
  background: #3ea5c7;
}

.zakazy-page table.zakazyt td.statustd .processed {
  background: #85a517;
}

.zakazy-page table.zakazyt td.statustd .closed {
  background: #f5773f;
}

.zakazy-page table.zakazyt td.deletetd {
  background: #dde6e9;
}

.zakazy-page table.zakazyt td.deletetd a:link, .zakazy-page table.zakazyt td.deletetd a:visited {
  display: block;
  width: 26px;
  height: 26px;
  text-indent: -9999px;
  background: url('../img/delete-icon.png') no-repeat;
  background-position: 0 0;
}

.zakazy-page table.zakazyt td.deletetd a:hover, .zakazy-page table.zakazyt td.deletetd a:active {
  background-position: 0 -34px;
}

/* листалка */
.zakazy-page .pager-cont {
  text-align: center;
  -webkit-border-radius: 0 0 20px 20px;
  -moz-border-radius: 0 0 20px 20px;
  border-radius: 0 0 20px 20px;
  background: #ecf2f4; /* Old browsers */
  background: -moz-linear-gradient(top, #ecf2f4 0%, #ffffff 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ecf2f4), color-stop(100%, #ffffff)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ecf2f4 0%, #ffffff 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ecf2f4 0%, #ffffff 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ecf2f4 0%, #ffffff 100%); /* IE10+ */
  background: linear-gradient(top, #ecf2f4 0%, #ffffff 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ecf2f4', endColorstr = '#ffffff', GradientType = 0); /* IE6-9 */
}

.pager {
  display: inline-block;
  padding: 8px 15px;

}

.pager li {
  float: left;
  margin: 0 5px;
  color: #82a311;
  font: normal 18px Arial;
}

.pager li a:link, .pager li a:visited {
  color: #0086b5;
}

.pager li a:hover, .pager li a:active {
  color: #82a311;
}

.pager li.pager-next a:link, .pager li.pager-next a:visited {
  display: block;
  margin-top: 3px;
  width: 15px;
  height: 17px;
  text-indent: -9999px;
  background: url('../img/pager-arrow-right.png') no-repeat;
  background-position: 0 0;
}

.pager li.pager-next a:hover, .pager li.pager-next a:active {
  background-position: 0 -23px;
}

.pager li.pager-prev a:link, .pager li.pager-prev a:visited {
  display: block;
  margin-top: 3px;
  width: 15px;
  height: 17px;
  text-indent: -9999px;
  background: url('../img/pager-arrow-left.png') no-repeat;
  background-position: 0 0;
}

.pager li.pager-prev a:hover, .pager li.pager-prev a:active {
  background-position: 0 -23px;
}

/* /листалка */
/* /мои заказы */
/* /личный кабинет */
/* залогиненая форма */
.loggedin-cont {
  display: inline-block;
  width: 350px;
  height: 58px;
  color: #fff;
  font: normal 15px Arial;
  -webkit-border-radius: 20px 20px 20px 0;
  -moz-border-radius: 20px 20px 20px 0;
  border-radius: 20px 20px 20px 0;
  background: #4bb0cf; /* Old browsers */
  background: -moz-linear-gradient(top, #4bb0cf 0%, #1087b1 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4bb0cf), color-stop(100%, #1087b1)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #4bb0cf 0%, #1087b1 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #4bb0cf 0%, #1087b1 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #4bb0cf 0%, #1087b1 100%); /* IE10+ */
  background: linear-gradient(top, #4bb0cf 0%, #1087b1 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#4bb0cf', endColorstr = '#1087b1', GradientType = 0); /* IE6-9 */
}

.loggedin-cont .hello {
  float: left;
  margin: 20px 0 0 20px;

}

.loggedin-cont .logout {
  float: right;
  margin: 9px 10px 0 0;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background: #008ebb; /* Old browsers */
  background: -moz-linear-gradient(top, #008ebb 0%, #149dc9 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #008ebb), color-stop(100%, #149dc9)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #008ebb 0%, #149dc9 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #008ebb 0%, #149dc9 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #008ebb 0%, #149dc9 100%); /* IE10+ */
  background: linear-gradient(top, #008ebb 0%, #149dc9 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#008ebb', endColorstr = '#149dc9', GradientType = 0); /* IE6-9 */
}

.loggedin-cont .logout a:link, .loggedin-cont .logout a:visited {
  display: block;
  padding: 10px 40px 10px 15px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  background: url('../img/button-logout-icon.png') no-repeat;
  background-position: 90% 7px;
}

.loggedin-cont .logout a:hover, .loggedin-cont .logout a:active {
  background-color: #04a6da;
}

/* /залогиненая форма */
.bold {
  font-weight: bold;
}

.copy {
  color: #366979;
  font: normal 13px Arial;
  padding: 10px 0 40px 35px;
}

.copy a:link, .copy a:visited {
  color: #366979;
  text-decoration: underline;
}

.copy a:hover, .copy a:active {
  text-decoration: none;
}

/* clearing-floats */
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.clearfix:before,
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
}

/* IE < 8 */