body {
  background: #f1f4f5;
  font: normal 14px Arial;
}

/* шапка */
.header {
  height: 175px;
  background: #0070a3; /* Old browsers */
  background: -moz-linear-gradient(top, #0070a3 0%, #008cb9 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0070a3), color-stop(100%, #008cb9)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #0070a3 0%, #008cb9 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #0070a3 0%, #008cb9 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #0070a3 0%, #008cb9 100%); /* IE10+ */
  background: linear-gradient(top, #0070a3 0%, #008cb9 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#0070a3', endColorstr = '#008cb9', GradientType = 0); /* IE6-9 */
}

.headert {
  width: 100%;
  height: 155px;
}

.headert td {
  vertical-align: middle;
}

.headert td.logotd {
  text-align: center;
  padding: 0 20px;
}

/* верхнее меню */
.headert td.menutd {
  width: 100%;
}

.header-menu {
  margin-left: 30px;
}

.header-menu li {
  float: left;
  margin-right: 10px;
}

.header-menu li a:link, .header-menu li a:visited {
  display: block;
  padding: 12px 15px 12px 50px;
  color: #fff;
  font: normal 18px Arial;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: 5px 2px;
}

.header-menu li.item1 a:link, .header-menu li.item1 a:visited {
  background-image: url('../img/header-menu-icon1.png');
}

.header-menu li.item2 a:link, .header-menu li.item2 a:visited {
  background-image: url('../img/header-menu-icon2.png');
}

.header-menu li.item3 a:link, .header-menu li.item3 a:visited {
  background-image: url('../img/header-menu-icon3.png');
}

.header-menu li a:hover, .header-menu li a:active {
  background-color: #088fc0;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
}

.header-menu li.active a:link, .header-menu li.active a:visited {
  background-color: #088fc0;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  background-position: 5px -47px;
}

/* /верхнее меню */
/* контактные данные */
.headert td.addresstd {
  color: #fff;
  font: bold 15px Arial;
  white-space: nowrap;
}

.headert td.addresstd a:link, .headert td.addresstd a:visited {
  color: #fff;
  font-weight: normal;
  text-decoration: none;
}

.headert td.addresstd a:hover, .headert td.addresstd a:active {
  text-decoration: underline;
}

.header .tels,
.contacts-ext-page .tels {
  margin-top: 10px;
}

.header .tels li,
.contacts-ext-page .tels li {
  margin-bottom: 4px;
}

.header .tels img,
.contacts-ext-page .tels img {
  position: relative;
  top: 2px;
}

/* /контактные данные */
/* /шапка */
.container {
  width: 1080px;
  margin: 0 auto;
}

.main-cont {
  position: relative;
  top: -20px;
  width: 1080px;
  margin: 0 auto;
  border: solid 2px #fff;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-shadow: 0 1px 2px #c2d8df;
  -moz-box-shadow: 0 1px 2px #c2d8df;
  box-shadow: 0 1px 2px #c2d8df;
}

/* главная страница */
.external-cont {
  background: #e6eef1;
}

.external-cont .sidebar1 {
  margin-right: 352px;
}

.external-cont .sidebar2 {
  position: absolute;
  width: 350px;
  top: 0;
  right: 0;
}

.sidebar2 .ofirme {
  padding: 30px 40px 30px;
  color: #002e3d;
  font: normal 15px Arial;
}

.main-page .content-cont {
  -webkit-border-radius: 20px 20px 20px 0;
  -moz-border-radius: 20px 20px 20px 0;
  border-radius: 20px 20px 20px 0;
  background: #fff;
}

.main-page .main-banner1 {
  position: relative;
  height: 500px;
  -webkit-border-radius: 20px 20px 20px 0;
  -moz-border-radius: 20px 20px 20px 0;
  border-radius: 20px 20px 20px 0;
  background: url('../img/main-banner1-bg.jpg') no-repeat;
}

.main-page .link-cont {
  width: 100%;
  -webkit-border-radius: 0 0 20px 0;
  -moz-border-radius: 0 0 20px 0;
  border-radius: 0 0 20px 0;
  background: url('../img/main-banner-link-bg.png') repeat-x top;
}

.main-page .main-banner1 .link-cont {
  position: absolute;
  bottom: 0;
  left: 0;
}

.main-page .link-cont a:link, .main-page .link-cont a:visited {
  display: inline-block;
  min-width: 280px;
  margin: 2px;
  padding: 10px 40px 10px 40px;
  color: #fff;
  font: normal 24px Arial;
  text-decoration: none;
  -webkit-border-radius: 20px 20px 20px 0;
  -moz-border-radius: 20px 20px 20px 0;
  border-radius: 20px 20px 20px 0;
  background: #00779d; /* Old browsers */
  background: -moz-linear-gradient(top, #00779d 0%, #55b4d2 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00779d), color-stop(100%, #55b4d2)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #00779d 0%, #55b4d2 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #00779d 0%, #55b4d2 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #00779d 0%, #55b4d2 100%); /* IE10+ */
  background: linear-gradient(top, #00779d 0%, #55b4d2 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#00779d', endColorstr = '#55b4d2', GradientType = 0); /* IE6-9 */
}

.main-page .link-cont a:hover, .main-page .link-cont a:active {
  background: #23a0c8;
}

.main-page .banner-text {
  width: 280px;
  height: 446px;
  margin: 0 0 2px 2px;
  padding: 0 40px;
  -webkit-border-radius: 20px 20px 20px 0;
  -moz-border-radius: 20px 20px 20px 0;
  border-radius: 20px 20px 20px 0;
  background: url('../img/banner-text-bg.png');
}

.main-page .banner-text .title {
  padding-top: 140px;
  color: #002e3d;
  font: normal 24px Arial;
}

.main-page .banner-text .text {
  margin-top: 30px;
  color: #3b5b65;
  font: normal 18px Arial;
}

.main-page .main-banner-down-cont-bg {
  height: 20px;
  background: url('../img/main-banner-down-cont-bg.png') no-repeat center top;
}

/* /главная страница */
/* офсетная печать */
.ofset-ext-page .content-cont,
.contacts-ext-page .content-cont {
  height: 100%;
  border: solid 2px #b6d4de;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background: #fff;
}

.ofset-ext-page .content-cont .content-text,
.contacts-ext-page .content-cont .content-text {
  margin: 20px 30px;
}

.ofset-ext-page .content-cont .title,
.contacts-ext-page .content-cont .title {
  margin-bottom: 10px;
  padding-bottom: 15px;
  color: #3c5962;
  font: normal 38px Arial;
  border-bottom: solid 2px #c3d6dc;
}

.ofset-ext-page .content-cont p {
  margin-top: 10px;
  color: #333;
  font: normal 14px Arial;
}

.ofset-ext-page .content-cont hr,
.contacts-ext-page .content-cont hr {
  height: 2px;
  background: #c3d6dc;
  border: none;
}

.ofset-ext-page .content-cont table.internal-img {
  width: 100%;
  margin: 10px 0;
}

.ofset-ext-page .content-cont table.internal-img td {
  width: 50%;
  vertical-align: middle;
}

.ofset-ext-page .content-cont table.internal-img td.text {
  padding: 0 30px;
}

.ofset-ext-page .ofirme-cont,
.contacts-ext-page .ofirme-cont {
  min-height: 340px;
  margin-top: 20px;
  background: url('../img/right-banner1.jpg') no-repeat;
  border: solid 2px #b6d4de;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

.ofset-ext-page .ofirme-cont .ofirme,
.contacts-ext-page .ofirme-cont .ofirme {
  background: url('../img/ofirme-bg.png');
  -webkit-border-radius: 18px 18px 0 0;
  -moz-border-radius: 18px 18px 0 0;
  border-radius: 18px 18px 0 0;
}

/* /офсетная печать */
/* контакты */
.contacts-ext-page .content-cont .address-map {
  float: left;
}

.contacts-ext-page .content-cont .address-map img {
  border: solid 2px #daedff;
}

.contacts-ext-page .content-cont .address-map a:link, .contacts-ext-page .content-cont .address-map a:visited {
  display: inline-block;
  margin: 5px 0 20px;
  color: #d34c4a;
  text-decoration: underline;
}

.contacts-ext-page .content-cont .address-text {
  float: left;
  color: #333 !important;
  font: normal 17px Arial;
  margin-left: 20px;
}

.contacts-ext-page .content-cont .address-text .tels {
  margin: 20px 0 !important;
}

.contacts-ext-page .content-cont .address-text a:link, .contacts-ext-page .content-cont .address-text a:visited {
  color: #333;
  font: normal 16px Arial;
  text-decoration: none;
}

.contacts-ext-page .content-cont .address-text a:hover, .contacts-ext-page .content-cont .address-text a:active {
  text-decoration: underline;
}

.contacts-ext-page h2 {
  margin: 10px 0 20px;
  color: #002e3d;
  font: bold 14px Arial;
}

.contacts-ext-page table.formt td.labeltd {
  width: 150px;
}

.contacts-ext-page table.formt td.inputstd input#fio,
.contacts-ext-page table.formt td.inputstd input#email,
.contacts-ext-page table.formt td.inputstd input#tel {
  width: 250px;
}

.contacts-ext-page table.formt textarea {
  width: 655px;
}

/* /контакты */
/* награды внизу страницы */
.awards-down {
  margin-top: 20px;
  padding: 0 20px;
  background: #fff;
  -webkit-border-radius: 0 0 20px 20px;
  -moz-border-radius: 0 0 20px 20px;
  border-radius: 0 0 20px 20px;
}

.awards-down table {
  width: 100%;
  height: 140px;
}

.awards-down table td {
  vertical-align: middle;
  text-align: center;
}

.awards-down table td.award4 {
  padding-right: 150px;
  background: url('../img/award4-bg.png') no-repeat right top;
}

.awards-down-cont-bg {
  position: relative;
  top: -20px;
  height: 20px;
  background: url('../img/awards-down-cont-bg.png') no-repeat center top;
}

/* /награды внизу страницы */

/* личный кабинет */
.cabinet-cont {
  background: #dbe6ea; /* Old browsers */
  background: -moz-linear-gradient(top, #dbe6ea 0%, #ffffff 60px, #e6eef1 120px, #e6eef1 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dbe6ea), color-stop(60px, #ffffff), color-stop(120px, #e6eef1), color-stop(100%, #e6eef1)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #dbe6ea 0%, #ffffff 60px, #e6eef1 120px, #e6eef1 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #dbe6ea 0%, #ffffff 60px, #e6eef1 120px, #e6eef1 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #dbe6ea 0%, #ffffff 60px, #e6eef1 120px, #e6eef1 100%); /* IE10+ */
  background: linear-gradient(top, #dbe6ea 0%, #ffffff 60px, #e6eef1 120px, #e6eef1 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#dbe6ea', endColorstr = '#e6eef1', GradientType = 0); /* IE6-9 */
}

.cabinet-cont .cabinet-header {
  height: 60px;
  border-bottom: solid 2px #c3d6dc;
  text-align: right;
}

/* меню в личном кабинете */
.cabinet-cont .cabinet-menu-cont {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 243px;
  padding: 10px 0;
  border: solid 2px #fff;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background: #e6eef1;
}

.cabinet-menu-cont .cabinet-menu {
  margin: 10px 2px;
}

.cabinet-menu-cont .cabinet-menu li {
  margin: 2px 0;
}

.cabinet-menu-cont .cabinet-menu li a:link, .cabinet-menu-cont .cabinet-menu li a:visited {
  display: block;
  padding: 10px 15px;
  color: #333;
  font: bold 15px Arial;
  text-decoration: none;
  background: #fff;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

.cabinet-menu-cont .cabinet-menu li a:hover, .cabinet-menu-cont .cabinet-menu li a:active {
  color: #fff;
  background: #008ebb; /* Old browsers */
  background: -moz-linear-gradient(top, #008ebb 0%, #149dc9 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #008ebb), color-stop(100%, #149dc9)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #008ebb 0%, #149dc9 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #008ebb 0%, #149dc9 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #008ebb 0%, #149dc9 100%); /* IE10+ */
  background: linear-gradient(top, #008ebb 0%, #149dc9 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#008ebb', endColorstr = '#149dc9', GradientType = 0); /* IE6-9 */
}

.cabinet-menu-cont .cabinet-menu li.active a {
  color: #fff;
  background: #799c00; /* Old browsers */
  background: -moz-linear-gradient(top, #799c00 0%, #85a517 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #799c00), color-stop(100%, #85a517)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #799c00 0%, #85a517 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #799c00 0%, #85a517 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #799c00 0%, #85a517 100%); /* IE10+ */
  background: linear-gradient(top, #799c00 0%, #85a517 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#799c00', endColorstr = '#85a517', GradientType = 0); /* IE6-9 */
}

.cabinet-menu-cont .cabinet-menu-order-cont {
  padding: 1px 0;
  background: #b6d4de;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

.cabinet-menu-cont .cabinet-menu-order-cont .title {
  margin: 7px 17px;
  color: #136986;
  font: normal 18px Arial;
}

.cabinet-menu-cont .cabinet-menu-order {
  margin: 0 1px !important;
}

/* /меню в личном кабинете */
.cabinet-cont .cabinet-content-cont {
  margin-left: 285px;
  min-height: 330px;
}

.cabinet-content-cont .cabinet-title {
  color: #333;
  font: normal 38px Arial;
  margin: 20px 0 5px 30px;
}

.cabinet-content-cont .cabinet-content {
  margin-bottom: 30px;
  background: #fff;
  border: solid 2px #cfdce0;
  -webkit-border-radius: 0 20px 20px 20px;
  -moz-border-radius: 0 20px 20px 20px;
  border-radius: 0 20px 20px 20px;
}

.cabinet-content-cont .cabinet-content h2 {
  color: #002e3d;
  font: normal 18px Arial;
  margin: 20px 0;
}

.cabinet-content-cont .cabinet-content-inner-cont {
  margin: 30px 220px 30px 30px;
}

.cabinet-content-cont .cabinet-content p {
  margin-top: 10px;
}

.cabinet-content-cont .cabinet-content hr {
  border: solid 1px #c3d6dc;
  margin-top: 25px;
}

.green-hint {
  float: right;
  width: 160px;
  padding: 20px;
  margin: 2px;
  color: #fff;
  font: bold 14px Arial;
  background: #8baf28;
  -webkit-border-radius: 0 20px 20px 20px;
  -moz-border-radius: 0 20px 20px 20px;
  border-radius: 0 20px 20px 20px;
}

/* формы */
.cabinet-content-cont table.formt,
.contacts-ext-page table.formt {
  width: 100%;
  color: #136986;
}

.cabinet-content-cont table.formt td.labeltd,
.contacts-ext-page table.formt td.labeltd {
  text-align: right;
  color: #136986;
  font: normal 14px Arial;
  padding-bottom: 8px;
}

.cabinet-content-cont table.formt td.newinputtd {
  padding-top: 15px;
}

.cabinet-content-cont table.formt td.textareatd,
.contacts-ext-page table.formt td.textareatd {
  padding-top: 15px;
  color: #136986;
  font: normal 14px Arial;
}

.cabinet-content-cont table.formt td.submittd,
.contacts-ext-page table.formt td.submittd {
  padding: 30px 0 20px;
  text-align: center;
}

.cabinet-content-cont table.formt input,
.contacts-ext-page table.formt input {
  border: solid 2px #b6d4de;
  margin-left: 5px;
}

.cabinet-content-cont table.formt input[type='checkbox'] {
  position: relative;
  top: 3px;
}

.cabinet-content-cont table.formt textarea,
.contacts-ext-page table.formt textarea {
  border: solid 2px #b6d4de;
  resize: none;
}

.cabinet-content-cont table.formt a.submit:link, .cabinet-content-cont table.formt a.submit:visited,
.contacts-ext-page table.formt a.submit:link, .contacts-ext-page table.formt a.submit:visited {
  padding: 8px 15px;
  color: #fff;
  font: normal 18px Arial;
  text-decoration: none;
  border: solid 1px transparent;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background: #9aba39; /* Old browsers */
  background: -moz-linear-gradient(top, #9aba39 0%, #b2d350 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9aba39), color-stop(100%, #b2d350)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #9aba39 0%, #b2d350 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #9aba39 0%, #b2d350 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #9aba39 0%, #b2d350 100%); /* IE10+ */
  background: linear-gradient(top, #9aba39 0%, #b2d350 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#9aba39', endColorstr = '#b2d350', GradientType = 0); /* IE6-9 */
}

.cabinet-content-cont table.formt a.submit:hover, .cabinet-content-cont table.formt a.submit:active,
.contacts-ext-page table.formt a.submit:hover, .contacts-ext-page table.formt a.submit:active {
  background: #b3d54b; /* Old browsers */
}

/* отправить сообщение */
.cabinet-content-cont .message-page table.formt input#fio,
.cabinet-content-cont .message-page table.formt input#tel,
.cabinet-content-cont .message-page table.formt input#email {
  width: 320px;
}

.cabinet-content-cont .message-page table.formt textarea#message-text {
  width: 486px;
}

/* /отправить сообщение */
/* изменить профиль */
.cabinet-content-cont .profile-page table.formt input#name,
.cabinet-content-cont .profile-page table.formt input#fam,
.cabinet-content-cont .profile-page table.formt input#tel,
.cabinet-content-cont .profile-page table.formt input#email {
  width: 320px;
}

.cabinet-content-cont .profile-page table.formt input#oldpass,
.cabinet-content-cont .profile-page table.formt input#newpass,
.cabinet-content-cont .profile-page table.formt input#reppass {
  width: 200px;
}

/* /изменить профиль */
/* /формы */
/* мои заказы */
.cabinet-content-cont .zakazy-page {
}

.zakazy-page table.zakazyt {
  width: 100%;
  border-bottom: solid 1px #cfdce0;
}

.zakazy-page table.zakazyt th {
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 0%, #edf3f5 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #edf3f5)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffffff 0%, #edf3f5 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ffffff 0%, #edf3f5 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ffffff 0%, #edf3f5 100%); /* IE10+ */
  background: linear-gradient(top, #ffffff 0%, #edf3f5 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffffff', endColorstr = '#edf3f5', GradientType = 0); /* IE6-9 */
}

.zakazy-page table.zakazyt th {
  padding: 10px 2px;
  color: #40545b;
  font: bold 15px Arial;
  text-align: center;
}

.zakazy-page table.zakazyt th:last-child {
  -webkit-border-top-right-radius: 20px;
  -moz-border-radius-topright: 20px;
  border-top-right-radius: 20px;
}

.zakazy-page table.zakazyt th a:link, .zakazy-page table.zakazyt th a:visited {
  color: #40545b;
  font: bold 15px Arial;
  text-decoration: none;
  padding: 2px 25px 2px 0;
  margin: 0 5px;
  background: url('../img/sort-icon.png') no-repeat;
  background-position: 100% 1px;
}

.zakazy-page table.zakazyt th a:hover, .zakazy-page table.zakazyt th a:active {
  background-position: 100% -29px;
}

.zakazy-page table.zakazyt th.active a:link, .zakazy-page table.zakazyt th.active a:visited {
  background-position: 100% -29px !important;
}

.zakazy-page table.zakazyt tbody tr:hover {
  background: #e9f8fd;
}

.zakazy-page table.zakazyt td {
  padding: 15px 8px;
  border-top: solid 1px #cfdce0;
  border-right: solid 1px #cfdce0;
  vertical-align: middle;
}

.zakazy-page table.zakazyt td:last-child {
  border-right: none;
}

.zakazy-page table.zakazyt td.paytd,
.zakazy-page table.zakazyt td.deletetd {
  text-align: center;
}

.zakazy-page table.zakazyt td.nametd {
  width: 100%;
}

.zakazy-page table.zakazyt td.nametd a:link, .zakazy-page table.zakazyt td.nametd a:visited {
  color: #084c65;
  text-decoration: underline;
  font: normal 16px Arial;
}

.zakazy-page table.zakazyt td.nametd a:hover, .zakazy-page table.zakazyt td.nametd a:active {
  color: #0079b2;
}

.zakazy-page table.zakazyt td.statustd {
  color: #fff;
  font: bold 15px Arial;
  padding: 0 2px !important;
}

.zakazy-page table.zakazyt td.statustd div {
  padding: 5px 8px;
  text-align: center;
}

.zakazy-page table.zakazyt td.statustd .accepted {
  background: #3ea5c7;
}

.zakazy-page table.zakazyt td.statustd .processed {
  background: #85a517;
}

.zakazy-page table.zakazyt td.statustd .closed {
  background: #f5773f;
}

.zakazy-page table.zakazyt td.deletetd {
  background: #dde6e9;
}

.zakazy-page table.zakazyt td.deletetd a:link, .zakazy-page table.zakazyt td.deletetd a:visited {
  display: block;
  width: 26px;
  height: 26px;
  text-indent: -9999px;
  background: url('../img/delete-icon.png') no-repeat;
  background-position: 0 0;
}

.zakazy-page table.zakazyt td.deletetd a:hover, .zakazy-page table.zakazyt td.deletetd a:active {
  background-position: 0 -34px;
}

/* листалка */
.zakazy-page .pager-cont {
  text-align: center;
  -webkit-border-radius: 0 0 20px 20px;
  -moz-border-radius: 0 0 20px 20px;
  border-radius: 0 0 20px 20px;
  background: #ecf2f4; /* Old browsers */
  background: -moz-linear-gradient(top, #ecf2f4 0%, #ffffff 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ecf2f4), color-stop(100%, #ffffff)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ecf2f4 0%, #ffffff 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ecf2f4 0%, #ffffff 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ecf2f4 0%, #ffffff 100%); /* IE10+ */
  background: linear-gradient(top, #ecf2f4 0%, #ffffff 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ecf2f4', endColorstr = '#ffffff', GradientType = 0); /* IE6-9 */
}

.pager {
  display: inline-block;
  padding: 8px 15px;

}

.pager li {
  float: left;
  margin: 0 5px;
  color: #82a311;
  font: normal 18px Arial;
}

.pager li a:link, .pager li a:visited {
  color: #0086b5;
}

.pager li a:hover, .pager li a:active {
  color: #82a311;
}

.pager li.pager-next a:link, .pager li.pager-next a:visited {
  display: block;
  margin-top: 3px;
  width: 15px;
  height: 17px;
  text-indent: -9999px;
  background: url('../img/pager-arrow-right.png') no-repeat;
  background-position: 0 0;
}

.pager li.pager-next a:hover, .pager li.pager-next a:active {
  background-position: 0 -23px;
}

.pager li.pager-prev a:link, .pager li.pager-prev a:visited {
  display: block;
  margin-top: 3px;
  width: 15px;
  height: 17px;
  text-indent: -9999px;
  background: url('../img/pager-arrow-left.png') no-repeat;
  background-position: 0 0;
}

.pager li.pager-prev a:hover, .pager li.pager-prev a:active {
  background-position: 0 -23px;
}

/* /листалка */
/* /мои заказы */
/* заказ офсетной печати */
.ofset-page table.formt input#project {
  width: 300px;
}

.ofset-page table.formt input#quant,
.ofset-page table.formt input#format1,
.ofset-page table.formt input#format2,
.ofset-page table.formt input#linear {
  width: 50px;
}

/* /заказ офсетной печати */
/* /личный кабинет */
/* залогиненая форма */
.loggedin-cont {
  display: inline-block;
  width: 350px;
  height: 58px;
  color: #fff;
  font: normal 15px Arial;
  -webkit-border-radius: 20px 20px 20px 0;
  -moz-border-radius: 20px 20px 20px 0;
  border-radius: 20px 20px 20px 0;
  background: #4bb0cf; /* Old browsers */
  background: -moz-linear-gradient(top, #4bb0cf 0%, #1087b1 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4bb0cf), color-stop(100%, #1087b1)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #4bb0cf 0%, #1087b1 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #4bb0cf 0%, #1087b1 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #4bb0cf 0%, #1087b1 100%); /* IE10+ */
  background: linear-gradient(top, #4bb0cf 0%, #1087b1 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#4bb0cf', endColorstr = '#1087b1', GradientType = 0); /* IE6-9 */
}

.loggedin-cont .hello {
  float: left;
  margin: 20px 0 0 20px;

}

.loggedin-cont .logout {
  float: right;
  margin: 9px 10px 0 0;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background: #008ebb; /* Old browsers */
  background: -moz-linear-gradient(top, #008ebb 0%, #149dc9 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #008ebb), color-stop(100%, #149dc9)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #008ebb 0%, #149dc9 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #008ebb 0%, #149dc9 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #008ebb 0%, #149dc9 100%); /* IE10+ */
  background: linear-gradient(top, #008ebb 0%, #149dc9 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#008ebb', endColorstr = '#149dc9', GradientType = 0); /* IE6-9 */
}

.loggedin-cont .logout a:link, .loggedin-cont .logout a:visited {
  display: block;
  padding: 10px 40px 10px 15px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  background: url('../img/button-logout-icon.png') no-repeat;
  background-position: 90% 7px;
}

.loggedin-cont .logout a:hover, .loggedin-cont .logout a:active {
  background-color: #04a6da;
}

/* /залогиненая форма */
/* не залогиненая форма */
.loggedout-cont {
  width: 350px;
  background: #769c07;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

.loggedout-cont .title {
  padding: 15px 0;
  color: #fff;
  font: normal 18px Arial;
  text-align: center;
  -webkit-border-radius: 20px 20px 20px 0;
  -moz-border-radius: 20px 20px 20px 0;
  border-radius: 20px 20px 20px 0;
  background: #9bba3a; /* Old browsers */
  background: -moz-linear-gradient(top, #9bba3a 0%, #85ab22 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9bba3a), color-stop(100%, #85ab22)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #9bba3a 0%, #85ab22 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #9bba3a 0%, #85ab22 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #9bba3a 0%, #85ab22 100%); /* IE10+ */
  background: linear-gradient(top, #9bba3a 0%, #85ab22 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#9bba3a', endColorstr = '#85ab22', GradientType = 0); /* IE6-9 */
}

.loggedout-cont .data {
  margin: 5px 42px 10px;
}

.loggedout-cont table {
  width: 100%;
}

.loggedout-cont table td.label {
  color: #fff;
  font: bold 15px Arial;
  vertical-align: middle;
}

.loggedout-cont table td.input {
  padding: 3px 0;
  text-align: right;
  vertical-align: middle;
}

.loggedout-cont table td.input input {
  width: 180px;
  height: 20px;
  line-height: 20px;
  border: none;
}

.loggedout-cont a.forgot-pass:link, .loggedout-cont a.forgot-pass:visited {
  float: left;
  margin-top: 20px;
  color: #002e3d;
  font: normal 15px Arial;
  text-decoration: underline;
}

.loggedout-cont div.enter {
  float: right;
  margin-top: 10px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background: #94b532; /* Old browsers */
  background: -moz-linear-gradient(top, #94b532 0%, #b3d451 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #94b532), color-stop(100%, #b3d451)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #94b532 0%, #b3d451 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #94b532 0%, #b3d451 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #94b532 0%, #b3d451 100%); /* IE10+ */
  background: linear-gradient(top, #94b532 0%, #b3d451 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#94b532', endColorstr = '#b3d451', GradientType = 0); /* IE6-9 */
}

.loggedout-cont a.enter:link, .loggedout-cont a.enter:visited {
  display: block;
  padding: 10px 40px 10px 15px;
  color: #333;
  font: bold 15px Arial;
  text-decoration: none;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background: url('../img/button-enter-icon.png') no-repeat;
  background-position: 90% 7px;
}

.loggedout-cont a.enter:hover, .loggedout-cont a.enter:active {
  background-color: #b3d451;
}

.loggedout-cont .descr {
  margin: 2px;
  padding: 10px 40px;
  background: #99b937;
  -webkit-border-radius: 0 0 20px 20px;
  -moz-border-radius: 0 0 20px 20px;
  border-radius: 0 0 20px 20px;
  color: #002e3d;
  font: normal 15px Arial;
}

.loggedout-cont div.register {
  float: right;
  margin-top: 10px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background: #008ebb; /* Old browsers */
  background: -moz-linear-gradient(top, #008ebb 0%, #149dc9 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #008ebb), color-stop(100%, #149dc9)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #008ebb 0%, #149dc9 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #008ebb 0%, #149dc9 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #008ebb 0%, #149dc9 100%); /* IE10+ */
  background: linear-gradient(top, #008ebb 0%, #149dc9 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#008ebb', endColorstr = '#149dc9', GradientType = 0); /* IE6-9 */
}

.loggedout-cont a.register:link, .loggedout-cont a.register:visited {
  display: block;
  padding: 10px 40px 10px 15px;
  color: #fff;
  font: bold 15px Arial;
  text-decoration: none;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background: url('../img/button-register-icon.png') no-repeat;
  background-position: 90% 7px;
}

.loggedout-cont a.register:hover, .loggedout-cont a.register:active {
  background-color: #03a6da;
}

/* /не залогиненая форма */
.bold {
  font-weight: bold;
}

.copy {
  color: #366979;
  font: normal 13px Arial;
  padding: 10px 0 40px 35px;
}

.copy a:link, .copy a:visited {
  color: #366979;
  text-decoration: underline;
}

.copy a:hover, .copy a:active {
  text-decoration: none;
}

/* clearing-floats */
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.clearfix:before,
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
}

/* IE < 8 */